/*DESKTOP STYLING*/
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #f7fafc;
}

main {
    border: 1px solid green;
}

nav {
    display: flex;
    list-style: none;
    flex-direction: row;
}
  
.header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 10px;
}

.name {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    font-size: 64px;
    color: #22A4B7;
    display: inline-block;
    margin: 0 15px;
    width: 40%;
    text-shadow: -3px -1px #29e79c;
    animation: fadein 4s;
}

  .nav-links {
    width: 20%;
    top: 0;
    display: flex; 
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin-top: 30px;
    margin-right: 38px;
    animation: fadein 7s;
  }

  .home-button {
    margin-top: 8px;
    position: relative;
    color: #b6b8ba;
    text-decoration: none;
  }

  .home-button:hover {
    color: #ffb238;
  }

  .home-button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #29e79c;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .home-button:visited:after {
      color: #2BEFA2;
  }

  .home-button:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .resume-button {
    margin-top: 8px;
    position: relative;
    color: #b6b8ba;
    text-decoration: none;
  }

  .resume-button:hover {
    color: #ffb238;
  }

  .resume-button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #29e79c;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .resume-button:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .contact-button {
    margin-top: 8px;
    position: relative;
    color: #b6b8ba;
    text-decoration: none;
  }

  .contact-button:hover {
    color: #ffb238;
  }

  .contact-button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #29e79c;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .contact-button:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  a {
    text-decoration: none;
    color: #b6b8ba;
  } 

  a:hover {
      color: #ffb238;
  }

  a:active {
      color: #ffd38e;
  }

  a:after {
    color: #ffd38e;
  } 

.bio-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    height: 60%;
    width: 40%;
    border-left: 1px solid #29e79c;
    padding-left: 10px;
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.hey {
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    font-weight: 200;
    padding-bottom: 10px;
    margin-bottom: 110px;
    margin-top: 0;
    transition: .5s all;
}

.hey:hover {
    transform: rotate(360deg);
    
}

.about1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-top: 0;
    margin-top: 25px;
    margin-bottom: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
}

.about2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: -15px;
}

.about3 {
    margin-top: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}

.fa {
    font-size: 50px;
}

.fa-linkedin {
    padding: 10px;
    /*  */
}

.fa-github{
    font-size: 40px;
    /* margin: 15px; */
    padding: 10px;
}

.fa-linkedin:hover {
    color: #ffb238;
}

.fa-linkedin:active {
    color: #ffd38e;
}

.fa-github:hover {
    color: #ffb238;
}

.fa-github:active {
    color: #ffd38e;
}

.contact-logos {
    margin-top: 0;
    padding: 0;
}

.contact-form {
    width: 425px;
    box-shadow: 0px 0px 41px 1px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto;
    padding: 20px;
}

.contact-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.phone {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}

.email {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}

.icons {
    margin: -50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 45px;
    color: #ffb238;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #b6b8ba;
    text-align: center;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 10px;
    animation: fadein 4s;
}

.footer-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
}




/*MOBILE STYLING HERE*/
@media only screen and (max-width: 600px) {

.header {
    border: none;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
}

.name {
    padding-top: 5px;
    margin-top: 5px;
    font-size: 40px;
    width: 50%;
}

.nav-links {
    border: 1px solid #ffb238;
    flex-direction: column;
}

.home-button {
    margin: 0;
  }

.resume-button {
    margin-top: 8px;
  }

.contact-button {
    margin-top: 8px;
  }

.bio-main {
    border: none;
    display: flex;
    flex-direction: column;
    top: -15px;
    width: 80%;
    
}

.hey {
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 5px;
}

.about1 {
    border-left: 1px solid #29e79c;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px;
    padding-right: 10px;
}

.about2 {
    font-family: 'Inconsolata', monospace;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0;
    padding-top: 0;
    padding-right: 10px;
}

.about3 {
    font-family: 'Inconsolata', monospace;
    justify-content: center;
    align-items: center;
    font-size: 14px;
} 

.contact-logos {
    margin-top: 0;
    padding: 0;
}

.footer {
    margin-right: 2px;
    margin-left: 2px;
    font-size: 10px;
}

.contact-form {
    width: 375px;
    box-shadow: 0px 0px 41px 1px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto;
    padding: 20px;
}

.contact-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

.phone {
    font-family: 'Inconsolata', monospace;
}

.email {
    font-family: 'Inconsolata', monospace;
}

.icons {
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
}
}
